@model ConcediuAngajati.Models.CerereConcediu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CerereConcediu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipConcediu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipConcediu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusCerere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusCerere.StatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Angajat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Angajat.AngajatId)
        </dd>
    </dl>
</div>
<div>
    <input type="submit" value="Accept" class="btn btn-primary" />
    <a asp-action="Edit" asp-route-id="@Model.CerereId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
