@model ConcediuAngajati.Models.CerereConcediu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CerereConcediu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipConcediu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipConcediu)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descriere)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StatusCerere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StatusCerere.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Angajat.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Angajat.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Angajat.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Angajat.Prenume)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
